{% extends "wrinklr_app/base.html" %}
{% block content %}

<form action={% url "wrinklr_app:input_celebs" %} method="POST">
    {% csrf_token %}
    Person 1:<br>
    <input type="text" name="person1" value="{{ person1.name }}">
    {% if person1 and not person1.valid %}
    Whoops, could not find person!
    {% endif %}
    <br>
    Person 2:<br>
    <input type="text" name="person2" value="{{ person2.name }}">
    
    {% if person2 and not person2.valid %}
    Whoops, could not find person!
    {% endif %}

    <br><br>
    <input type="submit" value="Submit">
</form>

<h3>Open matchups</h3>
<ul>
{% for matchup in open_matchups %}
<li>
    <a href={% url "wrinklr_app:matchup" matchup.id %}>
        {{ matchup.person1.name }} vs {{ matchup.person2.name }}
    </a>
</li>
{% endfor %}  
</ul>


{% if not user.is_anonymous %}
<h3>Your guesses</h3>
<ul class='blah'>
{% for guess in guesses %}
<li>
    <a href={% url "wrinklr_app:matchup" guess.matchup.id %}>
        {% if guess.result %} &#x2713; {% else %} &#x2717; {% endif %}
        {{ guess.matchup.person1.name }} vs {{ guess.matchup.person2.name }}
    </a>
</li>
{% endfor %}  
{% endif %}
</ul>

{% endblock %}
